<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.its.peac1.pea_mr_big">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/iconxx"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="text" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckLoading"
            android:label="ReEx"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_MrSelectSearchMaster"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Mr_Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Mr_Register_offine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_SearchDevice"
            android:screenOrientation="portrait" />

        <service
            android:name=".GPSTracker"
            android:exported="false" />

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity_Mr_send_offline"
            android:label="@string/title_activity__mr_send_offline"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity_map"></activity>
    </application>

</manifest>